@{
    @using Microsoft.Extensions.Configuration
    @inject IConfiguration Configuration

}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Configuration.GetSection("DefaultValue")["Title"]</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/bleaf/images/favicon.png">

    @RenderSection("bleaf_style", false)

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="~/bleaf/vendor/rangeslider/rangeslider.css">
    <link rel="stylesheet" href="~/bleaf/vendor/switcher/switcher.css">
    <link rel="stylesheet" href="~/bleaf/css/style.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body id="bg">
    <div class="page-wraper">
        <partial name="BLeaf/_PageHeader" />
        <partial name="BLeaf/_Login" />
        <partial name="BLeaf/_Register" />
        @RenderBody()
        <partial name="BLeaf/_Footer" />
        <partial name="BLeaf/_MenuDetailModal" />
    </div>
    @RenderSection("bleaf_script", false)

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">BLeaf</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <!-- Add other public links here -->
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>