@{
	Layout = "~/Views/Shared/_LayoutBLeaf.cshtml";
}
<div class="page-content bg-white">
	<!-- Banner  -->
	<div class="dz-bnr-inr style-1 text-center bg-parallax bg-parallax" style="background-image:url('../bleaf/images/banner/bnr1.jpg'); background-size:cover; background-position:center; height: 200px;">
		<div class="container">
			<div class="dz-bnr-inr-entry">
				<h1>About Us</h1>
			</div>
		</div>
	</div>
	<!-- Banner End -->
	<!-- Visit Restaurant -->
	<section class="content-inner pb-0">
		<div class="container">
			<div class="section-head text-center">
				<h2 class="title">We Invite you to Visit Our Restaurant</h2>
				<p class="about-p">Whether you are eating in our restaurant or getting food delivered straight to your doorstep, here at B'Leaf, we provide you with mouth-watering food from Sri Lanka. Based in the city of Lower Hutt, our restaurant is a cozy eatery that prides itself in traditional Sri Lankan culinary delights. Our online ordering feature is designed to guarantee that anyone who wants home delivery gets their meals fast and, most importantly, hot. We guarantee that whether it’s an aromatic curry, vegan specialty, or anything else in between, your taste buds are in for quite the adventure.</p>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="about-media dz-media rounded-md">
						<img src="~/bleaf/images/background/pic11.jpg" alt="/">
						<a class="video video-btn popup-youtube" href="https://www.youtube.com/watch?v=F_BBegXS2Sw">
							<i class="fa-solid fa-play"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Visit Restaurant -->
	<!-- Service Section -->
	<section class="content-inner">
		<div class="container">
			<div class="section-head text-center">
				<h2 class="title">What We Do</h2>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6 m-b30">
					<div class="icon-bx-wraper style-3">
						<div class="icon-bx">
							<div class="icon-cell">
								<i class="flaticon-vegetable"></i>
							</div>
						</div>
						<div class="icon-content">
							<h5 class="title">Authentic Sri Lankan Cuisine</h5>
							<p>Experience the rich and diverse flavors of Sri Lankan cuisine, prepared with traditional recipes and fresh ingredients.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 m-b30">
					<div class="icon-bx-wraper style-3">
						<div class="icon-bx">
							<div class="icon-cell">
								<i class="flaticon-chef-hat"></i>
							</div>
						</div>
						<div class="icon-content">
							<h5 class="title">Skilled Chefs</h5>
							<p>Our chefs are experts in Sri Lankan culinary arts, bringing you the best of traditional and modern dishes.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 m-b30">
					<div class="icon-bx-wraper style-3">
						<div class="icon-bx">
							<div class="icon-cell">
								<i class="flaticon-cocktail"></i>
							</div>
						</div>
						<div class="icon-content">
							<h5 class="title">Refreshing Beverages</h5>
							<p>Enjoy a variety of refreshing beverages, including traditional Sri Lankan drinks like King Coconut water and herbal teas.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 m-b30">
					<div class="icon-bx-wraper style-3">
						<div class="icon-bx">
							<div class="icon-cell">
								<i class="flaticon-cuisine"></i>
							</div>
						</div>
						<div class="icon-content">
							<h5 class="title">Vegan and Vegetarian Options</h5>
							<p>We offer a variety of vegan and vegetarian dishes, ensuring that everyone can enjoy the flavors of Sri Lanka.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Service Section -->

</div>

@section bleaf_style
	{
	<!-- Stylesheet -->
	<link href="~/bleaf/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet">
	<link href="~/bleaf/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="~/bleaf/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="~/bleaf/vendor/lightgallery/dist/css/lightgallery.css" rel="stylesheet">
	<link href="~/bleaf/vendor/lightgallery/dist/css/lg-thumbnail.css" rel="stylesheet">
	<link href="~/bleaf/vendor/lightgallery/dist/css/lg-zoom.css" rel="stylesheet">
}
@section bleaf_script
	{
	<!-- JAVASCRIPT FILES ========================================= -->
	<script src="~/bleaf/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
	<script src="~/bleaf/vendor/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="~/bleaf/vendor/bootstrap-select/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELEECT -->
	<script src="~/bleaf/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- BOOTSTRAP TOUCHSPIN -->
	<script src="~/bleaf/vendor/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
	<script src="~/bleaf/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
	<script src="~/bleaf/vendor/wow/wow.js"></script><!-- WOW JS -->
	<script src="~/bleaf/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
	<script src="~/bleaf/vendor/lightgallery/dist/lightgallery.min.js"></script>
	<script src="~/bleaf/vendor/lightgallery/dist/plugins/thumbnail/lg-thumbnail.min.js"></script>
	<script src="~/bleaf/vendor/lightgallery/dist/plugins/zoom/lg-zoom.min.js"></script>
	<script src="~/bleaf/vendor/swiper/swiper-bundle.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/bleaf/vendor/particles/particles.js"></script>
	<script src="~/bleaf/vendor/particles/particles-app.js"></script>
	<script src="~/bleaf/js/dz.carousel.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/bleaf/js/dz.ajax.js"></script><!-- AJAX -->
	<script src="~/bleaf/js/custom.js"></script><!-- CUSTOM JS -->
	
	<script src="~/bleaf/vendor/rangeslider/rangeslider.js"></script><!-- CUSTOM JS -->
	
}