@{
	Layout = "~/Views/Shared/_LayoutBLeafBlog.cshtml";
}
<div class="page-content bg-white">

	<!-- Banner  -->
	<div class="dz-breadcrumb-bnr">
		<div class="container">
			<nav aria-label="breadcrumb" class="breadcrumb-row">
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="@Url.Action("Index","BLeaf")">Home</a></li>
					<li class="breadcrumb-item">Blog</li>
					<li class="breadcrumb-item active" aria-current="page">Blog Standard</li>
				</ul>
			</nav>
		</div>
	</div>
	<!-- Banner End -->
	<!-- Blog Detail -->
	<section class="content-inner">
		<div class="min-container">
			<div class="row">
				<div class="col-xl-12 col-lg-12">
					<div class="blog-single dz-card sidebar">
						<div class="dz-media rounded-md">
							<img src="~/bleaf/images/blog/detail/pic1.jpeg" alt="/">
						</div>
						<div class="dz-info">
							<h1 class="title">Discover the Ultimate Refreshment:  Natural King Coconut Water</h1>
							<div class="dz-meta">
								<ul>
									<li class="dz-user"><a href="javascript:void(0);"><i class="flaticon-user"></i> By <span>Jagath Thennakoon</span></a></li>
									<li class="dz-date"><a href="javascript:void(0);"><i class="flaticon-calendar-date"></i> 26 Jan 2023</a></li>
									
								</ul>
							</div>
							<div class="dz-post-text">
								<p>Quench your thirst and indulge in the pure taste of the tropics with Natural King Coconut Water. Hand-picked from the lush groves of Sri Lanka, this refreshing beverage is packed with natural electrolytes and is the perfect way to stay hydrated, naturally.</p>
								
								<p>
									1. What Makes King Coconut Unique?
									“Unlike ordinary coconuts, King Coconut is renowned for its distinctively sweet flavor and abundant nutritional value. It’s a naturally occurring drink with no added preservatives, making it the purest form of hydration from nature itself. Sourced exclusively from Sri Lanka, King Coconut water is highly prized for its exceptional health benefits and refreshing taste.”
								</p>

								<p>
									2. Packed with Health Benefits
									“King Coconut water is more than just a thirst quencher—it’s a natural powerhouse. Rich in electrolytes, potassium, and other essential nutrients, it helps to rehydrate your body and restore energy after any physical activity. It's an ideal alternative to sugary sports drinks.”
                                 </p>
								 <p>
									3. A Drink for Every Occasion
									“Whether you’re relaxing at the beach, rehydrating after a workout, or simply looking for a refreshing drink, King Coconut water is perfect for every occasion. Its light, sweet taste makes it a crowd favorite, offering both refreshment and a tropical experience in every sip.”
							      </p>
									<ul>
									<li>A wonderful, sweet-tasting tropical beverage.</li>
									<li>Rich in natural electrolytes, perfect for hydration.</li>
									<li>No added sugar or preservatives.</li>
									<li>Sourced exclusively from the lush groves of Sri Lanka.</li>
								</ul>
							
							</div>
						</div>

						<div class="dz-social-icon">
								<ul>
									<li>
									<a target="_blank" class="btn-social btn-sm text-primary" href="https://www.facebook.com/BLeafNZ/">
											<i class="fab fa-facebook-f"></i>
										</a>
									</li>
									<li>
										<a target="_blank" class="btn-social btn-sm text-primary" href="https://twitter.com/">
											<i class="fab fa-twitter"></i>
										</a>
									</li>
									<li>
										<a target="_blank" class="btn-social btn-sm text-primary" href="https://www.instagram.com/">
											<i class="fab fa-instagram"></i>
										</a>
									</li>
									<li>
										<a target="_blank" class="btn-social btn-sm text-primary" href="https://www.linkedin.com/">
											<i class="fa-brands fa-linkedin-in"></i>
										</a>
									</li>
								</ul>
							</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- Blog Detail End -->
</div>

@section bleaf_style
	{
	<!-- Stylesheet -->
	<link href="~/bleaf/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet">
	<link href="~/bleaf/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="~/bleaf/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
}
@section bleaf_script
	{
	<!-- JAVASCRIPT FILES ========================================= -->
	<script src="~/bleaf/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
	<script src="~/bleaf/vendor/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="~/bleaf/vendor/bootstrap-select/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELEECT -->
	<script src="~/bleaf/vendor/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
	<script src="~/bleaf/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
	<script src="~/bleaf/vendor/wow/wow.js"></script><!-- WOW JS -->
	<script src="~/bleaf/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
	<script src="~/bleaf/vendor/swiper/swiper-bundle.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/bleaf/vendor/particles/particles.js"></script>
	<script src="~/bleaf/vendor/particles/particles-app.js"></script>
	<script src="~/bleaf/js/dz.carousel.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/bleaf/js/dz.ajax.js"></script><!-- AJAX -->
	<script src="~/bleaf/js/custom.min.js"></script><!-- CUSTOM JS -->
	
	<script src="~/bleaf/vendor/rangeslider/rangeslider.js"></script><!-- CUSTOM JS -->
	
}