@{
    Layout = "~/Views/Shared/_LayoutBLeaf.cshtml";
}
<div class="page-content bg-white">
    <!-- Banner  -->
    <div class="dz-bnr-inr style-1 text-center bg-parallax" style="background-image:url('../bleaf/images/banner/bnr1.jpg'); background-size:cover; background-position:center; height: 200px;">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <h1>Contact Us</h1>
            </div>
        </div>
    </div>
    <!-- Banner End -->
    <!-- Contact Section -->
    <section class="section-wrapper-8 content-inner-1">
        <div class="container">
            <div class="row inner-section-wrapper align-items-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="icon-bx-wraper style-5 hover-aware box-hover">
                        <div class="icon-bx">
                            <div class="icon-cell">
                                <i class="flaticon-placeholder"></i>
                            </div>
                        </div>
                        <div class="icon-content">
                            <h5 class="title">Location</h5>
                            <p>
                                408, Hutt Road, Alicetown, Lower Hutt <br>New Zealand
                            </p>
                            <div class="effect bg-primary"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="icon-bx-wraper style-5 hover-aware box-hover active">
                        <div class="icon-bx">
                            <div class="icon-cell">
                                <i class="flaticon-telephone"></i>
                            </div>
                        </div>
                        <div class="icon-content">
                            <h5 class="title">Phone Number</h5>
                            <p>+6422 522 0400</p>
                            <div class="effect bg-primary"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="icon-bx-wraper style-5 hover-aware box-hover">
                        <div class="icon-bx ">
                            <div class="icon-cell">
                                <i class="flaticon-email-1"></i>
                            </div>
                        </div>
                        <div class="icon-content">
                            <h5 class="title">Email Address</h5>
                            <p>bleafcaff@gmail.com</p>
                            <div class="effect bg-primary"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="icon-bx-wraper style-5 hover-aware box-hover">
                        <div class="icon-bx ">
                            <div class="icon-cell">
                                <i class="flaticon-clock-1"></i>
                            </div>
                        </div>
                        <div class="icon-content">
                            <h5 class="title">Open & Closing</h5>
                            <p>
                                Monday 7 am–3 pm <br />Tuesday 7 am–8 pm <br />Wednesday 7 am–8 pm <br />Thursday 7 am–8 pm <br />Friday 7 am–8 pm <br /> Saturday 8 am–8 pm <br />Sunday 11 am–8 pm
                            </p>
                            <div class="effect bg-primary"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-head text-center">
                <h2 class="title">Reservation</h2>
            </div>
            <form id="reservationForm" class="dzForm dezPlaceAni" method="POST" action="/api/reservation/create">
                @Html.AntiForgeryToken()
                <div class="dzFormMsg"></div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 m-b30 m-sm-b50">
                        <label class="form-label text-primary">Your Name</label>
                        <div class="input-group input-line input-black">
                            <input name="Name" required type="text" class="form-control" placeholder="Saman">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 m-b30 m-sm-b50">
                        <label class="form-label text-primary">Your Email</label>
                        <div class="input-group input-line input-black">
                            <input name="Email" required type="email" class="form-control" placeholder="saman@example.com">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 m-b30 m-sm-b50">
                        <label class="form-label text-primary">Your Number</label>
                        <div class="input-group input-line input-black">
                            <input name="PhoneNumber" required type="text" class="form-control dz-number" placeholder="9876543210">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 m-b30 m-sm-b50">
                        <label class="form-label text-primary">Members</label>
                        <div class="input-group input-line input-black">
                            <input name="NumberOfPeople" required type="number" class="form-control" placeholder="1">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 m-b30 m-sm-b50">
                        <label class="form-label text-primary">Reservation Date</label>
                        <div class="input-group input-line input-black">
                            <input name="ReservationDate" required type="date" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")">
                        </div>
                    </div>
                    <div class="col-sm-12 m-b40">
                        <label class="form-label text-primary">Message</label>
                        <div class="input-group input-line input-black">
                            <textarea name="SpecialRequests" class="form-control" placeholder="Hi, do you Have a moment to talk About !"></textarea>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button id="submitReservation" name="submit" value="submit" type="submit" class="btn btn-primary btn-hover-1"><span>Book A Table</span></button>
                    </div>
                </div>
                <div id="reservationMessage" class="alert" style="display: none;"></div>
            </form>
        </div>
    </section>
    <!-- Contact Section -->
</div>

@section bleaf_style
{
    <!-- Stylesheet -->
    <link href="~/bleaf/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet">
    <link href="~/bleaf/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/bleaf/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
}
@section bleaf_script
{
    <!-- JAVASCRIPT FILES ========================================= -->
    <script src="~/bleaf/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
    <script src="~/bleaf/vendor/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="~/bleaf/vendor/bootstrap-select/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELECT -->
    <script src="~/bleaf/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- BOOTSTRAP TOUCHSPIN -->
    <script src="~/bleaf/vendor/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
    <script src="~/bleaf/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
    <script src="~/bleaf/vendor/wow/wow.js"></script><!-- WOW JS -->
    <script src="~/bleaf/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
    <script src="~/bleaf/vendor/swiper/swiper-bundle.min.js"></script><!-- OWL-CAROUSEL -->
    <script src="~/bleaf/vendor/particles/particles.js"></script>
    <script src="~/bleaf/vendor/particles/particles-app.js"></script>
    <script src="~/bleaf/js/dz.carousel.min.js"></script><!-- OWL-CAROUSEL -->
    <script src="~/bleaf/js/dz.ajax.js"></script><!-- AJAX -->
    <script src="~/bleaf/js/custom.min.js"></script><!-- CUSTOM JS -->
    <script src="~/bleaf/js/manageReservations.js"></script><!-- Custom Reservation JS -->
}