@{
	Layout = "~/Views/Shared/_LayoutBLeaf.cshtml";
}
<div class="page-content bg-white">

	<!-- Banner  -->
	<div class="dz-bnr-inr style-1 text-center bg-parallax bg-parallax" style="background-image:url('../bleaf/images/banner/bnr2.jpg'); background-size:cover; background-position:center;">
		<div class="container">
			<div class="dz-bnr-inr-entry">
				<h1>Faq</h1>
				<!-- Breadcrumb Row -->
				<nav aria-label="breadcrumb" class="breadcrumb-row">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="@Url.Action("Index","BLeaf")">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Faq</li>
					</ul>
				</nav>
				<!-- Breadcrumb Row End -->
			</div>
		</div>
	</div>
	<!-- Banner End -->
	<!-- Faqs Section -->
	<section class="content-inner">
		<div class="min-container">
			<div class="row search-wraper style-1 text-center">
				<div class="col-lg-10 m-auto">
					<form>
						<div class="input-group">
							<div class="input-group-prepand">
								<button name="submit" value="submit" type="submit" class="btn">
									<i class="icon-search"></i>
								</button>
							</div>
							<input required="required" type="text" class="form-control" placeholder="Why Should I Use BLeaf ?">
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="accordion dz-accordion" id="accordionFaq2">
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingOne1">
								<a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
									Q1: What are your hours of operation?
									<span class="toggle-close"></span>
								</a>
							</h2>
							<div id="collapseOne1" class="accordion-collapse collapse" aria-labelledby="headingOne1" data-bs-parent="#accordionFaq2">
								<div class="accordion-body">
									<p class="m-b0">At b Leaf, we are open during the following hours:<br>
									- Monday: 7:00 AM – 3:00 PM<br>
									- Tuesday: 7:00 AM – 8:00 PM<br>
									- Wednesday: 7:00 AM – 8:00 PM<br>
                                    - Thursday: 7:00 AM – 8:00 PM<br>
                                    - Friday: 7:00 AM – 8:00 PM<br>
                                    - Saturday: 8:00 AM – 8:00 PM<br>
                                    - Sunday: 11:00 AM – 8:00 PM</p>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo1">
								<a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
									Q2: What is your menu like?
									<span class="toggle-close"></span>
								</a>
							</h2>
							<div id="collapseTwo1" class="accordion-collapse collapse" aria-labelledby="headingTwo1" data-bs-parent="#accordionFaq2">
								<div class="accordion-body">
									<p class="m-b0">Our menu features a diverse selection of fresh, healthy dishes, including salads, wraps, and smoothies. We focus on using locally sourced ingredients and offer seasonal specials to keep things exciting!</p>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingThree1">
								<a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
									Q3: Do you have vegetarian/vegan/gluten-free options?
									<span class="toggle-close"></span>
								</a>
							</h2>
							<div id="collapseThree1" class="accordion-collapse collapse" aria-labelledby="headingThree1" data-bs-parent="#accordionFaq2">
								<div class="accordion-body">
									<p class="m-b0">Yes! We have a variety of vegetarian and vegan options, as well as gluten-free dishes. Our staff is happy to assist you in finding the best choices based on your dietary needs.</p>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingFour1">
								<a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour1" aria-expanded="false" aria-controls="collapseFour1">
									Q4: Do you offer takeout or delivery?
									<span class="toggle-close"></span>
								</a>
							</h2>
							<div id="collapseFour1" class="accordion-collapse collapse" aria-labelledby="headingFour1" data-bs-parent="#accordionFaq2">
								<div class="accordion-body">
									<p class="m-b0">Absolutely! We offer both takeout and delivery services. You can place your order online or call us directly for pickup or delivery through our partners.</p>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingFive1">
								<a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive1" aria-expanded="false" aria-controls="collapseFive1">
									Q5: Can I make a reservation? How do I do that?
									<span class="toggle-close"></span>
								</a>
							</h2>
							<div id="collapseFive1" class="accordion-collapse collapse" aria-labelledby="headingFive1" data-bs-parent="#accordionFaq2">
								<div class="accordion-body">
									<p class="m-b0">Yes, you can make a reservation by visiting our website and using the reservation form, or you can call us directly at +64225220400. We recommend reserving in advance, especially during peak hours.</p>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingSix1">
								<a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix1" aria-expanded="false" aria-controls="collapseSix1">
									Q6: Is your restaurant kid-friendly?
									<span class="toggle-close"></span>
								</a>
							</h2>
							<div id="collapseSix1" class="accordion-collapse collapse" aria-labelledby="headingSix1" data-bs-parent="#accordionFaq2">
								<div class="accordion-body">
									<p class="m-b0">Yes, b Leaf is a kid-friendly establishment! We have a special kids' menu and high chairs available for your convenience.</p>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingSeven1">
								<a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSeven1" aria-expanded="false" aria-controls="collapseSeven1">
									Q7: What is your menu like?
									<span class="toggle-close"></span>
								</a>
							</h2>
							<div id="collapseSeven1" class="accordion-collapse collapse" aria-labelledby="headingSeven1" data-bs-parent="#accordionFaq2">
								<div class="accordion-body">
									<p class="m-b0">Our menu at b Leaf offers a range of healthy and delicious options, including salads, wraps, and smoothies made with fresh ingredients. We also have seasonal specials and kid-friendly choices.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row align-items-center">
	<div class="col-lg-12 m-b20">
		<div class="faq-info">
			<h2 class="title">Did your questions remain unanswered?</h2>
			<p class="m-b30">Feel free to reach out to us by entering your details below. We’d love to help!</p>
			<form class="dzSubscribe" method="post">
				<div class="dzSubscribeMsg text-white"></div>
				<div class="input-group m-b20">
					<input name="dzName" required="required" type="text" class="form-control" placeholder="Enter Your Name">
				</div>
				<div class="input-group m-b20">
					<input name="dzEmail" required="required" type="email" class="form-control" placeholder="Enter Your Email">
				</div>
				<div class="input-group m-b30">
					<textarea name="dzMessage" required="required" class="form-control" placeholder="Type Your Message" rows="5"></textarea>
				</div>
				<div class="input-group">
					<div class="input-group-addon text-center">
						<button name="submit" value="submit" type="submit" class="btn btn-primary btn-hover-1">
							<span>Submit</span> <i class="fa-solid fa-paper-plane"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
			</div>
		</div>
	</section>
	<!-- Faqs Section -->

</div>

@section bleaf_style
	{
	<!-- Stylesheet -->
	<link href="~/bleaf/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet">
	<link href="~/bleaf/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="~/bleaf/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
}
@section bleaf_script
	{
	<!-- JAVASCRIPT FILES ========================================= -->
	<script src="~/bleaf/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
	<script src="~/bleaf/vendor/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="~/bleaf/vendor/bootstrap-select/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELEECT -->
	<script src="~/bleaf/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- BOOTSTRAP TOUCHSPIN -->
	<script src="~/bleaf/vendor/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
	<script src="~/bleaf/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
	<script src="~/bleaf/vendor/wow/wow.js"></script><!-- WOW JS -->
	<script src="~/bleaf/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
	<script src="~/bleaf/vendor/swiper/swiper-bundle.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/bleaf/vendor/particles/particles.js"></script>
	<script src="~/bleaf/vendor/particles/particles-app.js"></script>
	<script src="~/bleaf/js/dz.carousel.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/bleaf/js/dz.ajax.js"></script><!-- AJAX -->
	<script src="~/bleaf/js/custom.min.js"></script><!-- CUSTOM JS -->
	<script src="~/bleaf/js/manageCart.js"></script>
	
	<script src="~/bleaf/vendor/rangeslider/rangeslider.js"></script><!-- CUSTOM JS -->
	
}