@{
	Layout = "~/Views/Shared/_Layoutbleaf.cshtml";
}
<div class="page-content bg-white">
	<!-- Banner  -->
	<div class="dz-bnr-inr style-1 text-center bg-parallax" style="background-image:url('../bleaf/images/banner/bnr1.jpg'); background-size:cover; background-position:center;">
		<div class="container">
			<div class="dz-bnr-inr-entry">
				<h1>Shop Style 1</h1>
				<!-- Breadcrumb Row -->
				<nav aria-label="breadcrumb" class="breadcrumb-row">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="@Url.Action("Index","bleaf")">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Shop Style 1</li>
					</ul>
				</nav>
				<!-- Breadcrumb Row End -->
			</div>
		</div>
	</div>
	<!-- Banner End -->
	<!-- Search Section -->
	<section class="content-inner-1">
		<div class="container">
			<div class="row search-wraper text-center">
				<div class="col-lg-8 m-auto">
					<form>
						<div class="input-group">
							<input required="required" type="text" class="form-control" placeholder="Type here">
							<div class="input-group-addon">
								<button name="submit" value="submit" type="submit" class="btn btn-primary btn-hover-2">
									<span>Search</span><i class="icon-search"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<aside class="side-bar left sticky-top">
						<div class="shop-filter">
							<div class="widget widget_tag_cloud ">
								<div class="d-flex justify-content-between">
									<div class="widget-title">
										<h4 class="title">Current Search</h4>
									</div>
									<a href="javascript:void(0);" class="panel-close-btn"><i class="fa-solid fa-xmark"></i></a>
								</div>
								<div class="tagcloud">
									<a href="@Url.Action("ProductDetail","bleaf")">Burger</a>
									<a href="@Url.Action("ProductDetail","bleaf")">Restaurant</a>
									<a href="@Url.Action("ProductDetail","bleaf")">Pizza</a>
								</div>
							</div>
							<div class="widget dz-widget_services">
								<div class="widget-title">
									<h4 class="title">Refine By Categories</h4>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="productCheckBox-01">
									<label class="form-check-label" for="productCheckBox-01">
										Pizza
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="productCheckBox-02">
									<label class="form-check-label" for="productCheckBox-02">
										Hamburger
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="productCheckBox-03">
									<label class="form-check-label" for="productCheckBox-03">
										Cold Drink
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="productCheckBox-04">
									<label class="form-check-label" for="productCheckBox-04">
										Sandwich
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="productCheckBox-05">
									<label class="form-check-label" for="productCheckBox-05">
										Muffin
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="productCheckBox-06">
									<label class="form-check-label" for="productCheckBox-06">
										Burrito
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="productCheckBox-07">
									<label class="form-check-label" for="productCheckBox-07">
										Taco
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="productCheckBox-08">
									<label class="form-check-label" for="productCheckBox-08">
										Hot Dog
									</label>
								</div>
							</div>
							<div class="widget">
								<div class="widget-title">
									<h4 class="title">Price Range</h4>
								</div>
								<div class="range-slider style-1">
									<div id="slider-tooltips"></div>
								</div>
							</div>
						</div>
					</aside>
				</div>
				<div class="col-lg-9">
					<div class="d-flex justify-content-between align-items-center">
						<h5 class="title mb-md-3 mb-lg-4 m-b20 d-none d-lg-block">Search Results</h5>
						<strong class="filter-item-show m-b20">Search: 51,740 items</strong>
						<a href="javascript:void(0);" class="btn btn-primary panel-btn">Filter</a>
					</div>
					<div class="dz-shop-card style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/shop/pic1.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div class="dz-head">
								<h6 class="dz-name mb-0">
									<svg class="m-r10" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect x="0.5" y="0.5" width="16" height="16" stroke="#0F8A65" />
										<circle cx="8.5" cy="8.5" r="5.5" fill="#0F8A65" />
									</svg>
									<a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#menuDetailModal">Double Patty Burger</a>
								</h6>
								<div class="rate">
									<i class="fa-solid fa-star"></i> 4.5
								</div>
							</div>
							<div class="dz-body">
								<ul class="dz-meta">
									<li>By <span class="text-primary font-weight-500"> Burger Farm</span></li>
									<li><i class="flaticon-scooter"></i> 30 min</li>
								</ul>
								<p class="mb-0"><span class="text-primary font-weight-500">$15.00</span> For a one</p>
							</div>
						</div>
					</div>
					<div class="dz-shop-card style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/shop/pic2.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div class="dz-head">
								<h6 class="dz-name mb-0">
									<svg class="m-r10" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect x="0.5" y="0.5" width="16" height="16" stroke="#0F8A65" />
										<circle cx="8.5" cy="8.5" r="5.5" fill="#0F8A65" />
									</svg>
									<a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#menuDetailModal">Chicken Patty Burger</a>
								</h6>
								<div class="rate">
									<i class="fa-solid fa-star"></i> 4.5
								</div>
							</div>
							<div class="dz-body">
								<ul class="dz-meta">
									<li>By <span class="text-primary font-weight-500"> Burger Farm</span></li>
									<li><i class="flaticon-scooter"></i> 20 min</li>
								</ul>
								<p class="mb-0"><span class="text-primary font-weight-500">$10.00</span> For a one</p>
							</div>
						</div>
					</div>
					<div class="dz-shop-card style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/shop/pic3.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div class="dz-head">
								<h6 class="dz-name mb-0">
									<svg class="m-r10" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect x="0.5" y="0.5" width="16" height="16" stroke="#0F8A65" />
										<circle cx="8.5" cy="8.5" r="5.5" fill="#0F8A65" />
									</svg>
									<a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#menuDetailModal">Veg Cripsy Burger</a>
								</h6>
								<div class="rate">
									<i class="fa-solid fa-star"></i> 4.5
								</div>
							</div>
							<div class="dz-body">
								<ul class="dz-meta">
									<li>By <span class="text-primary font-weight-500"> Burger Farm</span></li>
									<li><i class="flaticon-scooter"></i> 40 min</li>
								</ul>
								<p class="mb-0"><span class="text-primary font-weight-500">$25.00</span> For a one</p>
							</div>
						</div>
					</div>
					<div class="dz-shop-card style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/shop/pic4.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div class="dz-head">
								<h6 class="dz-name mb-0">
									<svg class="m-r10" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect x="0.5" y="0.5" width="16" height="16" stroke="#0F8A65" />
										<circle cx="8.5" cy="8.5" r="5.5" fill="#0F8A65" />
									</svg>
									<a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#menuDetailModal">Aloo Tikki Burger</a>
								</h6>
								<div class="rate">
									<i class="fa-solid fa-star"></i> 4.5
								</div>
							</div>
							<div class="dz-body">
								<ul class="dz-meta">
									<li>By <span class="text-primary font-weight-500"> Burger Farm</span></li>
									<li><i class="flaticon-scooter"></i> 15 min</li>
								</ul>
								<p class="mb-0"><span class="text-primary font-weight-500">$05.00</span> For a one</p>
							</div>
						</div>
					</div>
					<div class="dz-shop-card style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/shop/pic1.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div class="dz-head">
								<h6 class="dz-name mb-0">
									<svg class="m-r10" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect x="0.5" y="0.5" width="16" height="16" stroke="#0F8A65" />
										<circle cx="8.5" cy="8.5" r="5.5" fill="#0F8A65" />
									</svg>
									<a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#menuDetailModal">Pure Veg Burger</a>
								</h6>
								<div class="rate">
									<i class="fa-solid fa-star"></i> 4.5
								</div>
							</div>
							<div class="dz-body">
								<ul class="dz-meta">
									<li>By <span class="text-primary font-weight-500"> Burger Farm</span></li>
									<li><i class="flaticon-scooter"></i> 55 min</li>
								</ul>
								<p class="mb-0"><span class="text-primary font-weight-500">$35.00</span> For a one</p>
							</div>
						</div>
					</div>
					<div class="dz-shop-card style-1">
						<div class="dz-media">
							<img src="~/bleaf/images/shop/pic2.jpg" alt="/">
						</div>
						<div class="dz-content">
							<div class="dz-head">
								<h6 class="dz-name mb-0">
									<svg class="m-r10" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect x="0.5" y="0.5" width="16" height="16" stroke="#0F8A65" />
										<circle cx="8.5" cy="8.5" r="5.5" fill="#0F8A65" />
									</svg>
									<a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#menuDetailModal">Chicken Burger</a>
								</h6>
								<div class="rate">
									<i class="fa-solid fa-star"></i> 4.5
								</div>
							</div>
							<div class="dz-body">
								<ul class="dz-meta">
									<li>By <span class="text-primary font-weight-500"> Burger Farm</span></li>
									<li><i class="flaticon-scooter"></i> 25 min</li>
								</ul>
								<p class="mb-0"><span class="text-primary font-weight-500">$45.00</span> For a one</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Search Section -->

</div>

@section bleaf_style
	{
	<!-- Stylesheet -->
	<link href="~/bleaf/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet">
	<link href="~/bleaf/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
	<link rel="stylesheet" href="~/bleaf/vendor/nouislider/nouislider.min.css">
	<link rel="stylesheet" href="~/bleaf/icons/flaticon/flaticon_bleaf.css">
}
@section bleaf_script
	{
	<!-- JAVASCRIPT FILES ========================================= -->
	<script src="~/bleaf/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
	<script src="~/bleaf/vendor/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="~/bleaf/vendor/bootstrap-select/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELEECT -->
	<script src="~/bleaf/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- BOOTSTRAP TOUCHSPIN -->
	<script src="~/bleaf/vendor/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
	<script src="~/bleaf/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
	<script src="~/bleaf/vendor/wow/wow.js"></script><!-- WOW JS -->
	<script src="~/bleaf/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- TOUCHSPIN -->
	<script src="~/bleaf/vendor/nouislider/nouislider.min.js"></script><!-- NOUSLIDER MIN JS-->
	<script src="~/bleaf/vendor/wnumb/wNumb.js"></script><!-- WNUMB -->
	<script src="~/bleaf/js/dz.ajax.js"></script><!-- AJAX -->
	<script src="~/bleaf/vendor/particles/particles.js"></script>
	<script src="~/bleaf/vendor/particles/particles-app.js"></script>
	<script src="~/bleaf/js/custom.min.js"></script><!-- CUSTOM JS -->
	
	<script src="~/bleaf/vendor/rangeslider/rangeslider.js"></script><!-- RANGESLIDER -->
	
}