@{
	Layout = "~/Views/Shared/_LayoutBLeaf.cshtml";
}
<div class="page-content bg-white">
	<!-- Banner  -->
	<div class="dz-bnr-inr style-1 text-center bg-parallax" style="background-image:url('../bleaf/images/banner/bnr3.jpg'); background-size:cover; background-position:center;">
		<div class="container">
			<div class="dz-bnr-inr-entry">
				<h1>Shop Checkout</h1>
				<!-- Breadcrumb Row -->
				<nav aria-label="breadcrumb" class="breadcrumb-row">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="@Url.Action("Index","BLeaf")">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Shop Checkout</li>
					</ul>
				</nav>
				<!-- Breadcrumb Row End -->
			</div>
		</div>
	</div>
	<!-- Banner End -->
	<!-- Cart Section -->
	<section class="content-inner">
		<div class="container">
			<form class="shop-form">
				<div class="row">
					<div class="col-lg-6">
						<div class="widget">
							<h4 class="widget-title">Billing & Shipping Address</h4>
							<div class="form-group m-b20">
								<select class="form-select default-select">
									<option value="1">Åland Islands</option>
									<option value="2">Afghanistan</option>
									<option value="3">Albania</option>
									<option value="4">Algeria</option>
									<option value="5">Andorra</option>
									<option value="6">Angola</option>
									<option value="7">Anguilla</option>
									<option value="8">Antarctica</option>
									<option value="9">Antigua and Barbuda</option>
									<option value="10">Argentina</option>
									<option value="11">Armenia</option>
									<option value="12">Aruba</option>
									<option value="13">Australia</option>
								</select>
							</div>
							<div class="row">
								<div class="form-group col-md-6 m-b20">
									<input name="dzFirstName" required type="text" class="form-control" placeholder="First Name">
								</div>
								<div class="form-group col-md-6 m-b20">
									<input name="dzLastName" required type="text" class="form-control" placeholder="Last Name">
								</div>
							</div>
							<div class="form-group m-b20">
								<input name="dzOther[CompanyType]" required type="text" class="form-control" placeholder="Company Name">
							</div>
							<div class="form-group m-b20">
								<input name="dzOther[Address]" required type="text" class="form-control" placeholder="Address">
							</div>
							<div class="row">
								<div class="form-group col-md-6 m-b20">
									<input name="dzOther[Other]" required type="text" class="form-control" placeholder="Apartment, suite, unit etc.">
								</div>
								<div class="form-group col-md-6 m-b20">
									<input name="dzOther[Town/City]" required type="text" class="form-control" placeholder="Town / City">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-6 m-b20">
									<input name="dzOther[State/County]" required type="text" class="form-control" placeholder="State / County">
								</div>
								<div class="form-group col-md-6 m-b20">
									<input name="Postcode/Zip" required type="text" class="form-control" placeholder="Postcode / Zip">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-6 m-b20">
									<input name="dzEmail" required type="email" class="form-control" placeholder="Email">
								</div>
								<div class="form-group col-md-6 m-b20">
									<input name="dzPhoneNumber" required type="text" class="form-control dz-number" placeholder="Phone">
								</div>
							</div>
							<button class="btn btn-gray btnhover mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#create-an-account">Create an account <i class="fa fa-angle-down m-l10"></i></button>
							<div id="create-an-account" class="collapse">
								<p>Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>
								<div class="form-group">
									<input name="Password" type="password" class="form-control" placeholder="Password">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<button class="btn btn-gray btnhover mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#different-address">Ship to a different address <i class="fa fa-angle-down m-l10"></i></button>
						<div id="different-address" class="collapse">
							<p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing & Shipping section.</p>
							<div class="form-group m-b20">
								<select class="form-select default-select">
									<option value="Åland Islands">Åland Islands</option>
									<option value="Afghanistan">Afghanistan</option>
									<option value="Albania">Albania</option>
									<option value="Algeria">Algeria</option>
									<option value="Andorra">Andorra</option>
									<option value="Angola">Angola</option>
									<option value="Anguilla">Anguilla</option>
									<option value="Antarctica">Antarctica</option>
									<option value="Antigua and Barbuda">Antigua and Barbuda</option>
									<option value="Argentina">Argentina</option>
									<option value="Armenia">Armenia</option>
									<option value="Aruba">Aruba</option>
									<option value="Australia">Australia</option>
								</select>
							</div>
							<div class="row">
								<div class="form-group col-md-6 m-b20">
									<input name="dzFirstName" type="text" class="form-control" placeholder="First Name">
								</div>
								<div class="form-group col-md-6 m-b20">
									<input name="dzLastName" type="text" class="form-control" placeholder="Last Name">
								</div>
							</div>
							<div class="form-group m-b20">
								<input name="dzFirstName" type="text" class="form-control" placeholder="Company Name">
							</div>
							<div class="form-group m-b20">
								<input name="dzOther[Address]" type="text" class="form-control" placeholder="Address">
							</div>
							<div class="row">
								<div class="form-group col-md-6 m-b20">
									<input name="dzOther[Other]" type="text" class="form-control" placeholder="Apartment, suite, unit etc.">
								</div>
								<div class="form-group col-md-6 m-b20">
									<input name="dzOther[Town/City]" type="text" class="form-control" placeholder="Town / City">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-6 m-b20">
									<input name="dzOther[State/County]" type="text" class="form-control" placeholder="State / County">
								</div>
								<div class="form-group col-md-6 m-b20">
									<input name="dzOther[Postcode/Zip]" type="text" class="form-control" placeholder="Postcode / Zip">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-6 m-b20">
									<input name="dzEmail" type="email" class="form-control" placeholder="Email">
								</div>
								<div class="form-group col-md-6 m-b20">
									<input name="dzPhoneNumber" type="text" class="form-control dz-number" placeholder="Phone">
								</div>
							</div>
							<p>Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>
						</div>
						<div class="form-group">
							<textarea class="form-control" rows="5" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
						</div>

					</div>
				</div>
			</form>
			<div class="dz-divider bg-gray-dark icon-center my-5">
				<i class="fa fa-circle bg-white text-primary"></i>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="widget">
						<h4 class="widget-title">Your Order</h4>
						<table class="table-bordered check-tbl">
							<thead class="text-center">
								<tr>
									<th>IMAGE</th>
									<th>PRODUCT NAME</th>
									<th>TOTAL</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td class="product-item-img"><img src="~/bleaf/images/gallery/small/pic4.jpg" alt="/"></td>
									<td class="product-item-name">Prduct Item 4</td>
									<td class="product-price">$36.00</td>
								</tr>
								<tr>
									<td class="product-item-img"><img src="~/bleaf/images/gallery/small/pic3.jpg" alt="/"></td>
									<td class="product-item-name">Prduct Item 3</td>
									<td class="product-price">$25.00</td>
								</tr>
								<tr>
									<td class="product-item-img"><img src="~/bleaf/images/gallery/small/pic2.jpg" alt="/"></td>
									<td class="product-item-name">Prduct Item 2</td>
									<td class="product-price">$22.00</td>
								</tr>
								<tr>
									<td class="product-item-img"><img src="~/bleaf/images/gallery/small/pic1.jpg" alt="/"></td>
									<td class="product-item-name">Prduct Item 1</td>
									<td class="product-price">$28.00</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-lg-6">
					<form class="shop-form widget">
						<h4 class="widget-title">Order Total</h4>
						<table class="table-bordered check-tbl mb-4">
							<tbody>
								<tr>
									<td>Order Subtotal</td>
									<td class="product-price">$125.96</td>
								</tr>
								<tr>
									<td>Shipping</td>
									<td>Free Shipping</td>
								</tr>
								<tr>
									<td>Coupon</td>
									<td class="product-price">$28.00</td>
								</tr>
								<tr>
									<td>Total</td>
									<td class="product-price-total">$506.00</td>
								</tr>
							</tbody>
						</table>
						<h4 class="widget-title">Payment Method</h4>
						<div class="form-group m-b20">
							<input type="text" class="form-control" placeholder="Name on Card">
						</div>
						<div class="form-group m-b20">
							<select class="form-select default-select">
								<option value="Credit Card Type">Credit Card Type</option>
								<option value="Another option">Another option</option>
								<option value="A option">A option</option>
								<option value="Potato">Potato</option>
							</select>
						</div>
						<div class="form-group m-b20">
							<input name="dzOther[CreditCardNumber]" type="text" class="form-control" placeholder="Credit Card Number">
						</div>
						<div class="form-group m-b20">
							<input name="dzOther[CardVerificationNumber]" type="text" class="form-control" placeholder="Card Verification Number">
						</div>
						<div class="form-group">
							<button class="btn btn-gray btn-hover-2" type="submit" value="submit" name="submit">Place Order Now </button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- cart Section -->

</div>

@section bleaf_style
	{
	<!-- Stylesheet -->
	<link href="~/bleaf/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet">
	<link href="~/bleaf/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="~/bleaf/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
}
@section bleaf_script
	{
	<!-- JAVASCRIPT FILES ========================================= -->
	<script src="~/bleaf/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
	<script src="~/bleaf/vendor/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="~/bleaf/vendor/bootstrap-select/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELEECT -->
	<script src="~/bleaf/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- BOOTSTRAP TOUCHSPIN -->
	<script src="~/bleaf/vendor/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
	<script src="~/bleaf/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
	<script src="~/bleaf/vendor/wow/wow.js"></script><!-- WOW JS -->
	<script src="~/bleaf/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- TOUCHSPIN -->
	<script src="~/bleaf/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
	<script src="~/bleaf/vendor/swiper/swiper-bundle.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/bleaf/vendor/particles/particles.js"></script>
	<script src="~/bleaf/vendor/particles/particles-app.js"></script>
	<script src="~/bleaf/js/dz.carousel.min.js"></script><!-- OWL-CAROUSEL -->
	<script src="~/bleaf/js/dz.ajax.js"></script><!-- AJAX -->
	<script src="~/bleaf/vendor/rangeslider/rangeslider.js"></script><!-- CUSTOM JS -->
	
	
	<script src="~/bleaf/js/custom.min.js"></script><!-- CUSTOM JS -->
}